openapi: 3.0.3
info:
  title: Platform API
  description: |
    _OpenAPI specification for the **Platform API** of **Helix**, the nomination platform of ElecLink_

    ---

    Additional documentation available in the API's [GitHub repository](https://github.com/eleclink-helix/platform-api)
  version: 0.0.120
  contact:
    name: ElecLink
    url: https://www.eleclink.co.uk
    email: team.eleclink@eleclink.co.uk
  termsOfService: TBD
servers:
  - description: PRODUCTION
    url: https://api.helix.eleclink.co.uk
  - description: TRAINING
    url: https://api.training.helix.eleclink.co.uk
tags:
  - name: metadata
    description: Metadata endpoints
  - name: attachment
    description: Attachments
  - name: audit-log
    description: Audit Logs
  - name: default-nomination
    description: Default Nominations
  - name: manual-file-upload
    description: Manual File Upload
  - name: messages
    description: Messages
  - name: nomination-gate
    description: Nomination Gates
  - name: nomination
    description: Nominations
  - name: organisation
    description: Organisations
  - name: participant-dashboard
    description: Participant Dashboard
  - name: participant-overview
    description: Participant Overview
  - name: profile
    description: Profile
  - name: public-overview
    description: Public / Overview
  - name: reporting
    description: Reporting
  - name: transmission-right
    description: Transmission Rights
  - name: user
    description: Users
paths:
  /v1/public/version:
    get:
      operationId: getVersion
      description: |
        Fetch the current version of the Platform Backend and API in MAJOR.MINOR.PATCH format
      tags:
        - metadata
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
  /v1/attachments:
    post:
      operationId: uploadAttachment
      description: |-
        Upload a single Attachment (file)

        On successful upload the file gets persisted and metadata for the Attachment is returned. The Attachment can be referenced by its identifier in other functions (e.g Organisation Documents)

        **File size limit:** 50 MB

        **File types accepted:**
          * images:
            - .jpg  | image/jpeg
            - .png  | image/png
          * documents:
            - .doc  | application/msword
            - .docx | application/vnd.openxmlformats-officedocument.wordprocessingml.document
            - .xls  | application/vnd.ms-excel
            - .xlsx | application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
            - .ppt  | application/vnd.ms-powerpoint
            - .pptx | application/vnd.openxmlformats-officedocument.presentationml.presentation
            - .pdf  | application/pdf
          * text files:
            - .txt  | text/plain
            - .xml  | application/xml
            - .json | application/json
          * archives:
            - .zip  | application/zip
            - .rar  | application/vnd.rar

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_CRISIS_ACTIONS`
          * `INVITE_OWN_USERS`
          * `INVITE_ANY_USERS`
          * `MANAGE_ANY_MANUAL_FILE_UPLOAD`
          * `MANAGE_OWN_MANUAL_FILE_UPLOAD`

        __Generates Audit Log Entry:__ `UPLOAD_ATTACHMENT`
      tags:
        - attachment
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_CRISIS_ACTIONS
        - INVITE_OWN_USERS
        - INVITE_ANY_USERS
        - MANAGE_ANY_MANUAL_FILE_UPLOAD
        - MANAGE_OWN_MANUAL_FILE_UPLOAD
      x-audit-log: UPLOAD_ATTACHMENT
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - fileName
                - file
              properties:
                fileName:
                  $ref: '#/components/schemas/FileName'
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: __Created__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          description: |
            __Payload Too Large__

            The attachment to be uploaded exceeded to defined size limit
        '422':
          description: |-
            __Unprocessable Entity__

            *  `INVALID_ATTACHMENT_FILE_TYPE` - only files with the specified file types can be uploaded
          x-errors:
            - code: INVALID_ATTACHMENT_FILE_TYPE
              description: only files with the specified file types can be uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/audit-logs:
    get:
      operationId: getAuditLogs
      description: |-
        Fetch a list of Audit Logs optionally filtered for an Organisation

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_AUDIT_LOGS`
          * `VIEW_ANY_AUDIT_LOGS`
      tags:
        - audit-log
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_AUDIT_LOGS
        - VIEW_ANY_AUDIT_LOGS
      parameters:
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageOffsetOptional'
        - $ref: '#/components/parameters/IdOffsetOptional'
        - name: sortBy
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/AuditLogSortBy'
        - name: domains
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AuditLogDomain'
        - $ref: '#/components/parameters/OrganisationIdOptional'
        - name: creationPeriodStart
          in: query
          schema:
            $ref: '#/components/schemas/DateTime'
        - name: creationPeriodEnd
          in: query
          schema:
            $ref: '#/components/schemas/DateTime'
        - name: query
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AuditLogStatus'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogBatch'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_ORGANISATION_ID` - specified Organisation not found in the system
          x-errors:
            - code: INVALID_ORGANISATION_ID
              description: specified Organisation not found in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `PERIOD_MISALIGNED` - if both specified `creationPeriodStart` and `creationPeriodEnd` parameters must come after each other
          x-errors:
            - code: PERIOD_MISALIGNED
              description: if both specified `creationPeriodStart` and `creationPeriodEnd` parameters must come after each other
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/audit-logs/{id}/payload:
    get:
      operationId: getAuditLogPayload
      description: |-
        Fetch payload for an existing Audit Log entry by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_AUDIT_LOGS`
          * `VIEW_ANY_AUDIT_LOGS`
      tags:
        - audit-log
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_AUDIT_LOGS
        - VIEW_ANY_AUDIT_LOGS
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogPayload'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/default-nominations/options:
    get:
      operationId: getDefaultNominationOptions
      description: |-
        Fetch options for creating and updating Default Nominations

        Returns current nomination MTU size configuraiton for all timescales

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_DEFAULT_NOMINATIONS`
          * `VIEW_ANY_DEFAULT_NOMINATIONS`
      tags:
        - default-nomination
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_DEFAULT_NOMINATIONS
        - VIEW_ANY_DEFAULT_NOMINATIONS
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultNominationOptions'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/default-nominations:
    get:
      operationId: getDefaultNominations
      description: |-
        Fetch Default Nominations for a given Participant

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_DEFAULT_NOMINATIONS`
          * `VIEW_ANY_DEFAULT_NOMINATIONS`
      tags:
        - default-nomination
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_DEFAULT_NOMINATIONS
        - VIEW_ANY_DEFAULT_NOMINATIONS
      parameters:
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageOffset'
        - name: sortBy
          in: query
          required: true
          description: Sort list by given attribute and direction
          schema:
            $ref: '#/components/schemas/DefaultNominationSortBy'
        - $ref: '#/components/parameters/ParticipantId'
        - $ref: '#/components/parameters/Timescales'
        - $ref: '#/components/parameters/BorderDirectionWithBoth'
        - $ref: '#/components/parameters/DeliveryPeriodStart'
        - $ref: '#/components/parameters/DeliveryPeriodEnd'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultNominationBatch'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_PARTICIPANT_ID` - specified Participant not found in the system
            *  `PERIOD_MISALIGNED` - delivery period start and end parameters need to come after each other
          x-errors:
            - code: INVALID_PARTICIPANT_ID
              description: specified Participant not found in the system
            - code: PERIOD_MISALIGNED
              description: delivery period start and end parameters need to come after each other
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createDefaultNomination
      description: |-
        Create new Default Nomination for a given Timescale

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_OWN_DEFAULT_NOMINATIONS`
          * `MANAGE_ANY_DEFAULT_NOMINATIONS`

        __Generates Audit Log Entry:__ `CREATE_DEFAULT_NOMINATION`
      tags:
        - default-nomination
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_OWN_DEFAULT_NOMINATIONS
        - MANAGE_ANY_DEFAULT_NOMINATIONS
      x-audit-log: CREATE_DEFAULT_NOMINATION
      parameters:
        - $ref: '#/components/parameters/ParticipantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDefaultNominationRequest'
      responses:
        '201':
          description: __Created__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedDefaultNomination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `PERIOD_MISALIGNED` - for delivery period start and end values need to come after each other
            *  `MTU_LIST_MISALIGNED`
                - one or more MTU start times are not aligned to MTU borders (considering MTU size for the given timescale)
                - the number of MTUs defined does not match the required number
            *  `PERIOD_OVERLAP`
                - delivery period overlaps with a delivery period of an existing Default Nomination on the given timescale
            *  `INVALID_NOMINATION_VALUE`
                - if the type is set to VALUE a greater than or equal to zero value need to be supplied
          x-errors:
            - code: PERIOD_MISALIGNED
              description: for delivery period start and end values need to come after each other
            - code: MTU_LIST_MISALIGNED
              description: |
                - one or more MTU start times are not aligned to MTU borders (considering MTU size for the given timescale)
                - the number of MTUs defined does not match the required number
            - code: PERIOD_OVERLAP
              description: |
                - delivery period overlaps with a delivery period of an existing Default Nomination on the given timescale
            - code: INVALID_NOMINATION_VALUE
              description: |
                - if the type is set to VALUE a greater than or equal to zero value need to be supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/default-nominations/{id}:
    get:
      operationId: getDefaultNomination
      description: |-
        Fetch a Default Nomination by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_DEFAULT_NOMINATIONS`
          * `VIEW_ANY_DEFAULT_NOMINATIONS`
      tags:
        - default-nomination
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_DEFAULT_NOMINATIONS
        - VIEW_ANY_DEFAULT_NOMINATIONS
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultNominationDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateDefaultNomination
      description: |-
        Update an existing Default Nomination by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_OWN_DEFAULT_NOMINATIONS`
          * `MANAGE_ANY_DEFAULT_NOMINATIONS`

        __Generates Audit Log Entry:__ `UPDATE_DEFAULT_NOMINATION`
      tags:
        - default-nomination
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_OWN_DEFAULT_NOMINATIONS
        - MANAGE_ANY_DEFAULT_NOMINATIONS
      x-audit-log: UPDATE_DEFAULT_NOMINATION
      parameters:
        - $ref: '#/components/parameters/Identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDefaultNominationRequest'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `PERIOD_MISALIGNED` - for delivery period start and end values need to come after each other
            *  `MTU_LIST_MISALIGNED`
                - one or more MTU start times are not aligned to MTU borders (considering MTU size for the given timescale)
                - the number of MTUs defined does not match the required number
            *  `PERIOD_OVERLAP`
                - delivery period overlaps with a delivery period of an existing Default Nomination on the given timescale
                - except entity to be currently updated
            *  `INVALID_NOMINATION_VALUE`
                - if the type is set to VALUE a greater than or equal to zero value need to be supplied
          x-errors:
            - code: PERIOD_MISALIGNED
              description: for delivery period start and end values need to come after each other
            - code: MTU_LIST_MISALIGNED
              description: |
                - one or more MTU start times are not aligned to MTU borders (considering MTU size for the given timescale)
                - the number of MTUs defined does not match the required number
            - code: PERIOD_OVERLAP
              description: |
                - delivery period overlaps with a delivery period of an existing Default Nomination on the given timescale
                - except entity to be currently updated
            - code: INVALID_NOMINATION_VALUE
              description: |
                - if the type is set to VALUE a greater than or equal to zero value need to be supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteDefaultNomination
      description: |-
        Delete an existing Default Nomination

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_OWN_DEFAULT_NOMINATIONS`
          * `MANAGE_ANY_DEFAULT_NOMINATIONS`

        __Generates Audit Log Entry:__ `DELETE_DEFAULT_NOMINATION`
      tags:
        - default-nomination
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_OWN_DEFAULT_NOMINATIONS
        - MANAGE_ANY_DEFAULT_NOMINATIONS
      x-audit-log: DELETE_DEFAULT_NOMINATION
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          description: |-
            __Bad Request__

            *  `STATUS_MISMATCH` - only `ACTIVE` (not already deleted) Default Nominations can be deleted
          x-errors:
            - code: STATUS_MISMATCH
              description: only `ACTIVE` (not already deleted) Default Nominations can be deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/manual-file-upload/nominations:
    post:
      operationId: uploadNominations
      description: |-
        Upload Nominations for Participant as a "Schedule Document", read more at: https://eepublicdownloads.entsoe.eu/clean-documents/EDI/Library/cim_based/schema/Schedule%20document%20uml%20model%20and%20schema%20v1.1.pdf

        First you need to upload the "Schedule Document" XML as a standard Attachment using the `uploadAttachment` endpoint, then you need to submit the returned ID of the Attachment to this endpoint, which validates file syntax and contents before accepting it.

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_ANY_MANUAL_FILE_UPLOAD`
          * `MANAGE_OWN_MANUAL_FILE_UPLOAD`

        __Generates Audit Log Entry:__ `UPLOAD_NOMINATIONS`
      tags:
        - manual-file-upload
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_ANY_MANUAL_FILE_UPLOAD
        - MANAGE_OWN_MANUAL_FILE_UPLOAD
      x-audit-log: UPLOAD_NOMINATIONS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualFileUploadRequest'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_PARTICIPANT_EIC_CODE` - specified EIC code for a Participant not found in the system
            *  `INVALID_ATTACHMENT_ID` - Attachment ID not found in the system
            *  `SCHEMA_VALIDATION_ERROR` - contents of the submitted Attachment does not conform to the "Schedule Document" schema
          x-errors:
            - code: INVALID_PARTICIPANT_EIC_CODE
              description: specified EIC code for a Participant not found in the system
            - code: INVALID_ATTACHMENT_ID
              description: Attachment ID not found in the system
            - code: SCHEMA_VALIDATION_ERROR
              description: contents of the submitted Attachment does not conform to the "Schedule Document" schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `MTU_LIST_MISALIGNED` - see `submitTimescaleNominations`
            *  `MTU_NOT_EDITABLE` - see `submitTimescaleNominations`
            *  `INVALID_NOMINATION_VALUE` - see `submitTimescaleNominations`
          x-errors:
            - code: MTU_LIST_MISALIGNED
              description: see `submitTimescaleNominations`
            - code: MTU_NOT_EDITABLE
              description: see `submitTimescaleNominations`
            - code: INVALID_NOMINATION_VALUE
              description: see `submitTimescaleNominations`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/messages/system:
    get:
      operationId: getSystemMessages
      description: |-
        Fetch General and Operational System Messages

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_GENERAL_SYSTEM_MESSAGES`
          * `VIEW_OPERATIONAL_SYSTEM_MESSAGES`
      tags:
        - messages
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_GENERAL_SYSTEM_MESSAGES
        - VIEW_OPERATIONAL_SYSTEM_MESSAGES
      parameters:
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageOffset'
        - name: sortBy
          in: query
          required: true
          description: Sort list by given attribute and direction
          schema:
            $ref: '#/components/schemas/MessageSortBy'
        - name: category
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/SystemMessageCategory'
        - name: severities
          in: query
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/MessageSeverity'
        - name: senders
          in: query
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/MessageSender'
        - name: types
          in: query
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/MessageType'
        - $ref: '#/components/parameters/ReceivePeriodStartOptional'
        - $ref: '#/components/parameters/ReceivePeriodEndOptional'
        - in: query
          name: searchQuery
          schema:
            type: string
        - name: hasAttachment
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageBatch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `PERIOD_MISALIGNED` - the `receivePeriodStart` and `receivePeriodEnd` params must come after each other
          x-errors:
            - code: PERIOD_MISALIGNED
              description: the `receivePeriodStart` and `receivePeriodEnd` params must come after each other
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/messages/participant:
    get:
      operationId: getParticipantMessages
      description: |-
        Fetch Messages sent for the current Participant

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_PARTICIPANT_MESSAGES`
      tags:
        - messages
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_PARTICIPANT_MESSAGES
      parameters:
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageOffset'
        - name: sortBy
          in: query
          required: true
          description: Sort list by given attribute and direction
          schema:
            $ref: '#/components/schemas/MessageSortBy'
        - name: severities
          in: query
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/MessageSeverity'
        - name: senders
          in: query
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/MessageSender'
        - name: types
          in: query
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/MessageType'
        - $ref: '#/components/parameters/ReceivePeriodStartOptional'
        - $ref: '#/components/parameters/ReceivePeriodEndOptional'
        - in: query
          name: searchQuery
          schema:
            type: string
        - name: hasAttachment
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageBatch'
        '400':
          description: |-
            __Bad Request__

            *  `ORGANISATION_TYPE_MISMATCH` - only users of PARTICIPANT type Organisations can fetch the Participant messages
          x-errors:
            - code: ORGANISATION_TYPE_MISMATCH
              description: only users of PARTICIPANT type Organisations can fetch the Participant messages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `PERIOD_MISALIGNED` - the `receivePeriodStart` and `receivePeriodEnd` params must come after each other
          x-errors:
            - code: PERIOD_MISALIGNED
              description: the `receivePeriodStart` and `receivePeriodEnd` params must come after each other
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/messages/participant/unread:
    get:
      operationId: getParticipantUnreadMessages
      description: |-
        Fetch the number of "unread" Messages sent for the current Participant

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_PARTICIPANT_MESSAGES`
      tags:
        - messages
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_PARTICIPANT_MESSAGES
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnreadMessagesResponse'
        '400':
          description: |-
            __Bad Request__

            *  `ORGANISATION_TYPE_MISMATCH` - only users of PARTICIPANT type Organisations can fetch the Unread Participant messages count
          x-errors:
            - code: ORGANISATION_TYPE_MISMATCH
              description: only users of PARTICIPANT type Organisations can fetch the Unread Participant messages count
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/nomination-gates/overview:
    get:
      operationId: getNominationGatesOverview
      description: |-
        Fetch an overview about Long Term, Day Ahead and Intraday Nomination Gates for the selected delivery day

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_NOMINATION_GATES_OVERVIEW`
      tags:
        - nomination-gate
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_NOMINATION_GATES_OVERVIEW
      parameters:
        - $ref: '#/components/parameters/DeliveryDay'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NominationGatesOverviewResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/nominations/options:
    get:
      operationId: getNominationOptions
      description: |-
        Fetch options for getting Nominations

        Used to determine which are the available directions for which a given Participant has rights to nominate for a given:
          - delivery day
          - type of nomination

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_NOMINATIONS`
          * `VIEW_ANY_NOMINATIONS`
      tags:
        - nomination
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_NOMINATIONS
        - VIEW_ANY_NOMINATIONS
      parameters:
        - $ref: '#/components/parameters/DeliveryDay'
        - $ref: '#/components/parameters/TimescaleNominationType'
        - $ref: '#/components/parameters/ParticipantId'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimescaleNominationOptions'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_PARTICIPANT_ID` - pecified Participant not found in the system
          x-errors:
            - code: INVALID_PARTICIPANT_ID
              description: pecified Participant not found in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/nominations:
    get:
      operationId: getNominations
      description: |-
        Fetch current Nominations for a given:
          - delivery day
          - type of nomination
          - particpant
          - border direction

        MTUs are returned in the timescale's "Nomination MTU Size" resolution

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_NOMINATIONS`
          * `VIEW_ANY_NOMINATIONS`
      tags:
        - nomination
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_NOMINATIONS
        - VIEW_ANY_NOMINATIONS
      parameters:
        - $ref: '#/components/parameters/DeliveryDay'
        - $ref: '#/components/parameters/TimescaleNominationType'
        - $ref: '#/components/parameters/ParticipantId'
        - $ref: '#/components/parameters/BorderDirection'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimescaleNominations'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_PARTICIPANT_ID` - specified Participant not found in the system
          x-errors:
            - code: INVALID_PARTICIPANT_ID
              description: specified Participant not found in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      operationId: submitNominations
      description: |-
        Submit Nominations for the given:
          - delivery day
          - type of nomination
          - particpant
          - border direction

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_OWN_NOMINATIONS`
          * `MANAGE_ANY_NOMINATIONS`

        __Generates Audit Log Entry:__ `SUBMIT_NOMINATIONS`
      tags:
        - nomination
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_OWN_NOMINATIONS
        - MANAGE_ANY_NOMINATIONS
      x-audit-log: SUBMIT_NOMINATIONS
      parameters:
        - $ref: '#/components/parameters/DeliveryDay'
        - $ref: '#/components/parameters/TimescaleNominationType'
        - $ref: '#/components/parameters/ParticipantId'
        - $ref: '#/components/parameters/BorderDirection'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitTimescaleNominationsRequest'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_PARTICIPANT_ID` - specified Participant not found in the system
          x-errors:
            - code: INVALID_PARTICIPANT_ID
              description: specified Participant not found in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `MTU_LIST_MISALIGNED`
                - for the values to be sent
                - one or more MTU start times are not aligned to MTU borders (considering MTU size)
                - the number of MTUs defined does not match the required number (pay special attention to daylight saving changes!)
            *  `MTU_NOT_EDITABLE`
                - only MTUs that are in `mtuStatus = EDITABLE` can contain not-empty values
                - an MTU can be non-editable because:
                  - the MTU nomination window for the selected timescale is closed
                  - has already FIRM nominations
            *  `INVALID_NOMINATION_VALUE`
                - nomination values can be empty for any MTU, where not empty has to be (0 <= value <= Total TRs)
          x-errors:
            - code: MTU_LIST_MISALIGNED
              description: |
                - for the values to be sent
                - one or more MTU start times are not aligned to MTU borders (considering MTU size)
                - the number of MTUs defined does not match the required number (pay special attention to daylight saving changes!)
            - code: MTU_NOT_EDITABLE
              description: |
                - only MTUs that are in `mtuStatus = EDITABLE` can contain not-empty values
                - an MTU can be non-editable because:
                  - the MTU nomination window for the selected timescale is closed
                  - has already FIRM nominations
            - code: INVALID_NOMINATION_VALUE
              description: |
                - nomination values can be empty for any MTU, where not empty has to be (0 <= value <= Total TRs)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/nominations/aggregated/options:
    get:
      operationId: getAggregatedNominationOptions
      description: |-
        Fetch options for Aggregated Nominations

        Returns if the current Participant organisation is configured as "nomination on behalf" for any Markets. If yes, the list of "nominees" returned.

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_AGGREGATED_NOMINATIONS`
      tags:
        - nomination
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_AGGREGATED_NOMINATIONS
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregatedNominationOptions'
        '400':
          description: |-
            __Bad Request__

            *  `ORGANISATION_TYPE_MISMATCH` - only users of PARTICIPANT type Organisations can fetch the Aggregated Nomination options
          x-errors:
            - code: ORGANISATION_TYPE_MISMATCH
              description: only users of PARTICIPANT type Organisations can fetch the Aggregated Nomination options
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/nominations/aggregated/options/pre-nominations:
    get:
      operationId: getAggregatedPreNominationOptions
      description: |-
        Fetch pre-nomination options for Aggregated Nominations

        Returns if the selected Participant organisation has pre-nominations defined for all the timescales for the given delivery day.

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_AGGREGATED_NOMINATIONS`
          * `VIEW_ANY_AGGREGATED_NOMINATIONS`
      tags:
        - nomination
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_AGGREGATED_NOMINATIONS
        - VIEW_ANY_AGGREGATED_NOMINATIONS
      parameters:
        - $ref: '#/components/parameters/ParticipantId'
        - $ref: '#/components/parameters/DeliveryDay'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregatedPreNominationOptions'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/nominations/aggregated:
    get:
      operationId: getAggregatedNominations
      description: |-
        Fetch aggregated Nominatinons for a given:
          - delivery day
          - selected timescales
          - participant(s)

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_AGGREGATED_NOMINATIONS`
          * `VIEW_ANY_AGGREGATED_NOMINATIONS`
      tags:
        - nomination
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_AGGREGATED_NOMINATIONS
        - VIEW_ANY_AGGREGATED_NOMINATIONS
      parameters:
        - $ref: '#/components/parameters/DeliveryDay'
        - $ref: '#/components/parameters/Timescales'
        - $ref: '#/components/parameters/ParticipantIds'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregatedNominations'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_PARTICIPANT_ID` - the specified Participant Organisation is not found or not valid according to the aggregation logic
          x-errors:
            - code: INVALID_PARTICIPANT_ID
              description: the specified Participant Organisation is not found or not valid according to the aggregation logic
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/organisations/{id}:
    get:
      operationId: getOrganisation
      description: |-
        Fetch an Organisation by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_ANY_ORGANISATIONS`
          * `VIEW_OWN_ORGANISATIONS`
      tags:
        - organisation
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_ANY_ORGANISATIONS
        - VIEW_OWN_ORGANISATIONS
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/organisations/participant/{id}:
    get:
      operationId: getParticipantOrganisation
      description: |-
        Fetch a Participant-type Organisation by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_ANY_ORGANISATIONS`
          * `VIEW_OWN_ORGANISATIONS`
      tags:
        - organisation
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_ANY_ORGANISATIONS
        - VIEW_OWN_ORGANISATIONS
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantOrganisationDetails'
        '400':
          description: |-
            __Bad Request__

            *  `ORGANISATION_TYPE_MISMATCH` - only Participant-type Organisations can be queried
          x-errors:
            - code: ORGANISATION_TYPE_MISMATCH
              description: only Participant-type Organisations can be queried
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/organisations/participant-names:
    get:
      operationId: getParticipantNames
      description: |
        Fetches every identifier and name of every Participant-type Organisation
      tags:
        - organisation
      security:
        - ApiKey: []
        - AuthToken: []
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Participant'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/participant-dashboard/nominations/options:
    get:
      operationId: getParticipantDashboardNominationOptions
      description: |-
        Fetch the available Nomination Options for the Dashboard

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_NOMINATIONS`
      tags:
        - participant-dashboard
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_NOMINATIONS
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantDashboardNominationOptions'
        '400':
          description: |-
            __Bad Request__

            *  `ORGANISATION_TYPE_MISMATCH` - only users of PARTICIPANT type Organisations can fetch the Participant Dashboard
          x-errors:
            - code: ORGANISATION_TYPE_MISMATCH
              description: only users of PARTICIPANT type Organisations can fetch the Participant Dashboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/participant-dashboard/nominations:
    put:
      operationId: submitParticipantDashboardNominations
      description: |-
        Quickly nominate all TRs for a given Timescale and Border Direction

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_OWN_NOMINATIONS`

        __Generates Audit Log Entry:__ `SUBMIT_PARTICIPANT_DASHBOARD_NOMINATIONS`
      tags:
        - participant-dashboard
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_OWN_NOMINATIONS
      x-audit-log: SUBMIT_PARTICIPANT_DASHBOARD_NOMINATIONS
      parameters:
        - $ref: '#/components/parameters/Timescale'
        - $ref: '#/components/parameters/BorderDirection'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          description: |-
            __Bad Request__

            *  `ORGANISATION_TYPE_MISMATCH` - only users of PARTICIPANT type Organisations can interact with the Participant Dashboard
            *  `NOMINATIONS_CANNOT_BE_SUBMITTED`
                - when the Nomination Gate for the given timescale is already CLOSED
                - when not CLOSED
                  * if the Participant does not have any TRs in the specified direction
          x-errors:
            - code: ORGANISATION_TYPE_MISMATCH
              description: only users of PARTICIPANT type Organisations can interact with the Participant Dashboard
            - code: NOMINATIONS_CANNOT_BE_SUBMITTED
              description: |
                - when the Nomination Gate for the given timescale is already CLOSED
                - when not CLOSED
                  * if the Participant does not have any TRs in the specified direction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/participant-dashboard/messages:
    get:
      operationId: getParticipantDashboardMessages
      description: |-
        Fetch the latest 3 messages from the General System Messages and the Participant Inbox

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_PARTICIPANT_DASHBOARD`
      tags:
        - participant-dashboard
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_PARTICIPANT_DASHBOARD
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantDashboardMessages'
        '400':
          description: |-
            __Bad Request__

            *  `ORGANISATION_TYPE_MISMATCH` - only users of PARTICIPANT type Organisations can fetch the Participant Dashboard
          x-errors:
            - code: ORGANISATION_TYPE_MISMATCH
              description: only users of PARTICIPANT type Organisations can fetch the Participant Dashboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/participant-dashboard/interconnector-capacity-graph:
    get:
      operationId: getParticipantDashboardInterconnectorCapacityGraph
      description: |-
        Fetch data for tne Interconnector Capacity Graph

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_PARTICIPANT_DASHBOARD`
      tags:
        - participant-dashboard
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_PARTICIPANT_DASHBOARD
      parameters:
        - $ref: '#/components/parameters/DeliveryPeriodStart'
        - $ref: '#/components/parameters/DeliveryPeriodEnd'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantDashboardInterconnectorCapacityGraphData'
        '400':
          description: |-
            __Bad Request__

            *  `ORGANISATION_TYPE_MISMATCH` - only users of PARTICIPANT type Organisations can fetch the Participant Dashboard
          x-errors:
            - code: ORGANISATION_TYPE_MISMATCH
              description: only users of PARTICIPANT type Organisations can fetch the Participant Dashboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `PERIOD_MISALIGNED` - the `deliveryPeriodStart` and `deliveryPeriodEnd` params must come after each other
            *  `PERIOD_TOO_LONG` - a maximum of 7 calendar days is selectable
          x-errors:
            - code: PERIOD_MISALIGNED
              description: the `deliveryPeriodStart` and `deliveryPeriodEnd` params must come after each other
            - code: PERIOD_TOO_LONG
              description: a maximum of 7 calendar days is selectable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/participant-dashboard/interconnector-capacity:
    get:
      operationId: getParticipantDashboardInterconnectorCapacity
      description: |-
        Fetch Interconnector Capacity information

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_PARTICIPANT_DASHBOARD`
      tags:
        - participant-dashboard
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_PARTICIPANT_DASHBOARD
      parameters:
        - $ref: '#/components/parameters/DeliveryDay'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantDashboardInterconnectorCapacityData'
        '400':
          description: |-
            __Bad Request__

            *  `ORGANISATION_TYPE_MISMATCH` - only users of PARTICIPANT type Organisations can fetch the Participant Dashboard
          x-errors:
            - code: ORGANISATION_TYPE_MISMATCH
              description: only users of PARTICIPANT type Organisations can fetch the Participant Dashboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/participant-dashboard/transmission-rights-and-nominations-graph:
    get:
      operationId: getParticipantDashboardTransmissionRightsAndNominationsGraph
      description: |-
        Fetch data about Transmission Right & Nominations Graph

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_PARTICIPANT_DASHBOARD`
      tags:
        - participant-dashboard
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_PARTICIPANT_DASHBOARD
      parameters:
        - $ref: '#/components/parameters/DeliveryPeriodStart'
        - $ref: '#/components/parameters/DeliveryPeriodEnd'
        - $ref: '#/components/parameters/Timescales'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantDashboardTransmissionRightsAndNominationsGraphData'
        '400':
          description: |-
            __Bad Request__

            *  `ORGANISATION_TYPE_MISMATCH` - only users of PARTICIPANT type Organisations can fetch the Participant Dashboard
          x-errors:
            - code: ORGANISATION_TYPE_MISMATCH
              description: only users of PARTICIPANT type Organisations can fetch the Participant Dashboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `PERIOD_MISALIGNED` - the `deliveryPeriodStart` and `deliveryPeriodEnd` params must come after each other
            *  `PERIOD_TOO_LONG` - a maximum of 7 calendar days is selectable
          x-errors:
            - code: PERIOD_MISALIGNED
              description: the `deliveryPeriodStart` and `deliveryPeriodEnd` params must come after each other
            - code: PERIOD_TOO_LONG
              description: a maximum of 7 calendar days is selectable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/participant-dashboard/transmission-rights-and-nominations:
    get:
      operationId: getParticipantDashboardTransmissionRightsAndNominations
      description: |-
        Fetch data about Transmission Right & Nominations

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_PARTICIPANT_DASHBOARD`
      tags:
        - participant-dashboard
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_PARTICIPANT_DASHBOARD
      parameters:
        - $ref: '#/components/parameters/DeliveryDay'
        - $ref: '#/components/parameters/Timescales'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantDashboardTransmissionRightsAndNominationsData'
        '400':
          description: |-
            __Bad Request__

            *  `ORGANISATION_TYPE_MISMATCH` - only users of PARTICIPANT type Organisations can fetch the Participant Dashboard
          x-errors:
            - code: ORGANISATION_TYPE_MISMATCH
              description: only users of PARTICIPANT type Organisations can fetch the Participant Dashboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/participant-dashboard/netted-nominations:
    get:
      operationId: getParticipantDashboardNettedNominations
      description: |-
        Fetch Netted Nominations for a given delivery day

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_PARTICIPANT_DASHBOARD`
      tags:
        - participant-dashboard
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_PARTICIPANT_DASHBOARD
      parameters:
        - $ref: '#/components/parameters/DeliveryDay'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantDashboardNettedNominationsData'
        '400':
          description: |-
            __Bad Request__

            *  `ORGANISATION_TYPE_MISMATCH` - only users of PARTICIPANT type Organisations can fetch the Participant Dashboard
          x-errors:
            - code: ORGANISATION_TYPE_MISMATCH
              description: only users of PARTICIPANT type Organisations can fetch the Participant Dashboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/participant-dashboard/next-nomination-gates:
    get:
      operationId: getParticipantDashboardNextNominationGates
      description: |-
        Fetches next Nomination Gates for the Participants

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_PARTICIPANT_DASHBOARD`
      tags:
        - participant-dashboard
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_PARTICIPANT_DASHBOARD
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantDashboardNextNominationGates'
        '400':
          description: |-
            __Bad Request__

            *  `ORGANISATION_TYPE_MISMATCH` - only users of PARTICIPANT type Organisations can fetch the Participant Dashboard
          x-errors:
            - code: ORGANISATION_TYPE_MISMATCH
              description: only users of PARTICIPANT type Organisations can fetch the Participant Dashboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/participant-dashboard/default-nominations:
    get:
      operationId: getParticipantDashboardDefaultNominations
      description: |-
        Fetches information if Default Nominations exists for the Participant

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_PARTICIPANT_DASHBOARD`
      tags:
        - participant-dashboard
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_PARTICIPANT_DASHBOARD
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantDashboardDefaultNominationsData'
        '400':
          description: |-
            __Bad Request__

            *  `ORGANISATION_TYPE_MISMATCH` - only users of PARTICIPANT type Organisations can fetch the Participant Dashboard
          x-errors:
            - code: ORGANISATION_TYPE_MISMATCH
              description: only users of PARTICIPANT type Organisations can fetch the Participant Dashboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/participant-overview:
    get:
      operationId: getParticipantOverview
      description: |-
        Fetch an overview of Participant-related information

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_ANY_ORGANISATIONS`
          * `VIEW_OWN_ORGANISATIONS`
      tags:
        - participant-overview
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_ANY_ORGANISATIONS
        - VIEW_OWN_ORGANISATIONS
      parameters:
        - $ref: '#/components/parameters/ParticipantId'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantOverviewData'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_PARTICIPANT_ID` - specified Participant not found in the system
          x-errors:
            - code: INVALID_PARTICIPANT_ID
              description: specified Participant not found in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/profile:
    get:
      operationId: getProfile
      description: |
        Fetch profile data for the currently authenticated User
      tags:
        - profile
      security:
        - ApiKey: []
        - AuthToken: []
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/profile/details:
    get:
      operationId: getProfileDetails
      description: |
        Fetch profile details for the currently authenticated User
      tags:
        - profile
      security:
        - ApiKey: []
        - AuthToken: []
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      operationId: updateProfileDetails
      description: |-
        Update profile details for the currently authenticated User

        ---

        __Generates Audit Log Entry:__ `UPDATE_PROFILE_DETAILS`
      tags:
        - profile
      security:
        - ApiKey: []
        - AuthToken: []
      x-audit-log: UPDATE_PROFILE_DETAILS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileDetailsRequest'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          description: |-
            __Bad Request__

            *  `AUTH_METHOD_MISMATCH` - only Users from Organisations authenticated through the Platform (not through SSO) can update their profile
          x-errors:
            - code: AUTH_METHOD_MISMATCH
              description: only Users from Organisations authenticated through the Platform (not through SSO) can update their profile
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/profile/preferences:
    get:
      operationId: getPreferences
      description: |
        Fetch Preferences for the currently authenticated User
      tags:
        - profile
      security:
        - ApiKey: []
        - AuthToken: []
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferences'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      operationId: updatePreferences
      description: |-
        Update Preferences for the currently authenticated User

        ---

        __Generates Audit Log Entry:__ `UPDATE_PREFERENCES`
      tags:
        - profile
      security:
        - ApiKey: []
        - AuthToken: []
      x-audit-log: UPDATE_PREFERENCES
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPreferences'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/profile/api-keys:
    get:
      operationId: getApiKeys
      description: |
        Fetch API Keys for the currently authenticated User
      tags:
        - profile
      security:
        - ApiKey: []
        - AuthToken: []
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createApiKey
      description: |-
        Create a new API Key for the currently authenticated User

        The key value itself will be only presented once in the response

        ---

        __Generates Audit Log Entry:__ `CREATE_API_KEY`
      tags:
        - profile
      security:
        - ApiKey: []
        - AuthToken: []
      x-audit-log: CREATE_API_KEY
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '201':
          description: __Created__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedApiKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `API_KEY_NAME_NOT_UNIQUE` - the name of the API Key has to be unique among the User's API Keys
          x-errors:
            - code: API_KEY_NAME_NOT_UNIQUE
              description: the name of the API Key has to be unique among the User's API Keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/profile/api-keys/{id}:
    delete:
      operationId: deleteApiKey
      description: |-
        Delete an API Key by its identifier for the currently authenticated User

        ---

        __Generates Audit Log Entry:__ `DELETE_API_KEY`
      tags:
        - profile
      security:
        - ApiKey: []
        - AuthToken: []
      x-audit-log: DELETE_API_KEY
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/profile/zendesk-chat-token:
    get:
      operationId: getZendeskChatToken
      description: |
        Fetch a signed JWT for Zendesk Chat which encapsulates the authenticated User's identity

        Used to authenticate the Zendesk Chat Web Widget so the user could see their message history
      tags:
        - profile
      security:
        - ApiKey: []
        - AuthToken: []
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZendeskChatTokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/public/platform-overview:
    get:
      operationId: getPublicPlatformOverview
      description: |
        Fetch publicly available information about NTC, Aggregated Nominations and Netted Nominations
      tags:
        - public-overview
      parameters:
        - $ref: '#/components/parameters/DeliveryDay'
        - $ref: '#/components/parameters/MtuSize'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicPlatformOverviewResponse'
  /v1/reporting/trs-and-nominations/overview:
    get:
      operationId: getTrsAndNominationsOverviewReport
      description: |-
        Fetch Transmission Rights & Nominations Overview Report

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_TRANSMISSION_RIGHTS`
          * `VIEW_ANY_TRANSMISSION_RIGHTS`
          * `VIEW_OWN_AGGREGATED_NOMINATIONS`
          * `VIEW_ANY_AGGREGATED_NOMINATIONS`
      tags:
        - reporting
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_TRANSMISSION_RIGHTS
        - VIEW_ANY_TRANSMISSION_RIGHTS
        - VIEW_OWN_AGGREGATED_NOMINATIONS
        - VIEW_ANY_AGGREGATED_NOMINATIONS
      parameters:
        - $ref: '#/components/parameters/DeliveryPeriodStart'
        - $ref: '#/components/parameters/DeliveryPeriodEnd'
        - $ref: '#/components/parameters/BorderDirectionWithBoth'
        - $ref: '#/components/parameters/ParticipantIds'
      responses:
        '200':
          description: __OK__
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/ReportFile'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_PARTICIPANT_ID` - the specified Participant not found in the system
          x-errors:
            - code: INVALID_PARTICIPANT_ID
              description: the specified Participant not found in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `PERIOD_MISALIGNED` - delivery period start and end dates must come after each other
            *  `PERIOD_TOO_LONG` - for delivery period the maximum period length is 1 month
          x-errors:
            - code: PERIOD_MISALIGNED
              description: delivery period start and end dates must come after each other
            - code: PERIOD_TOO_LONG
              description: for delivery period the maximum period length is 1 month
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/reporting/trs-and-nominations/proof:
    get:
      operationId: getTrsAndNominationsProofReport
      description: |-
        Fetch Transmission Rights & Nominations Proof Report

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_NOMINATIONS`
          * `VIEW_ANY_NOMINATIONS`
      tags:
        - reporting
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_NOMINATIONS
        - VIEW_ANY_NOMINATIONS
      parameters:
        - $ref: '#/components/parameters/DeliveryPeriodStart'
        - $ref: '#/components/parameters/DeliveryPeriodEnd'
        - $ref: '#/components/parameters/ParticipantId'
      responses:
        '200':
          description: __OK__
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/ReportFile'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_PARTICIPANT_ID` - the specified Participant not found in the system
            *  `PERIOD_NOT_WHOLE_MONTHS` - period must cover whole months
          x-errors:
            - code: INVALID_PARTICIPANT_ID
              description: the specified Participant not found in the system
            - code: PERIOD_NOT_WHOLE_MONTHS
              description: period must cover whole months
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `PERIOD_MISALIGNED` - delivery period start and end dates must come after each other
            *  `PERIOD_TOO_LONG` - for delivery period the maximum period length is 1 year
          x-errors:
            - code: PERIOD_MISALIGNED
              description: delivery period start and end dates must come after each other
            - code: PERIOD_TOO_LONG
              description: for delivery period the maximum period length is 1 year
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/reporting/outages/curtailment:
    get:
      operationId: getOutagesCurtailmentReport
      description: |-
        Fetch Curtailment Report

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_NOMINATIONS`
          * `VIEW_ANY_NOMINATIONS`
          * `VIEW_CRISIS`
      tags:
        - reporting
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_NOMINATIONS
        - VIEW_ANY_NOMINATIONS
        - VIEW_CRISIS
      parameters:
        - name: deliveryPeriodStart
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Date'
        - name: deliveryPeriodEnd
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Date'
        - $ref: '#/components/parameters/ParticipantIds'
      responses:
        '200':
          description: __OK__
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/ReportFile'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_PARTICIPANT_ID` - the specified Participant not found in the system
          x-errors:
            - code: INVALID_PARTICIPANT_ID
              description: the specified Participant not found in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `PERIOD_MISALIGNED` - delivery period start and end dates must come after each other
            *  `PERIOD_TOO_LONG` - for delivery period the maximum period length is 1 week
          x-errors:
            - code: PERIOD_MISALIGNED
              description: delivery period start and end dates must come after each other
            - code: PERIOD_TOO_LONG
              description: for delivery period the maximum period length is 1 week
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/reporting/organisations/users:
    get:
      operationId: getOrganisationsUsersReport
      description: |-
        Fetch Users Report

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_USERS`
          * `VIEW_ANY_USERS`
      tags:
        - reporting
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_USERS
        - VIEW_ANY_USERS
      parameters:
        - $ref: '#/components/parameters/OrganisationIds'
        - in: query
          name: statuses
          schema:
            type: array
            items:
              $ref: '#/components/schemas/UserStatus'
        - in: query
          name: roles
          schema:
            type: array
            items:
              $ref: '#/components/schemas/UserRole'
      responses:
        '200':
          description: __OK__
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/ReportFile'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_ORGANISATION_ID` - organisation with the given ID is not found on the Platform
          x-errors:
            - code: INVALID_ORGANISATION_ID
              description: organisation with the given ID is not found on the Platform
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/reporting/organisations/audit-logs:
    get:
      operationId: getOrganisationsAuditLogsReport
      description: |-
        Fetch Audit Logs Report

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_AUDIT_LOGS`
          * `VIEW_ANY_AUDIT_LOGS`
      tags:
        - reporting
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_AUDIT_LOGS
        - VIEW_ANY_AUDIT_LOGS
      parameters:
        - $ref: '#/components/parameters/OrganisationIds'
        - name: periodStart
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Date'
        - name: periodEnd
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Date'
        - in: query
          name: domains
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AuditLogDomain'
      responses:
        '200':
          description: __OK__
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/ReportFile'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_ORGANISATION_ID` - organisation with the given ID is not found on the Platform
          x-errors:
            - code: INVALID_ORGANISATION_ID
              description: organisation with the given ID is not found on the Platform
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `PERIOD_MISALIGNED` - period start and end dates must come after each other
            *  `PERIOD_TOO_LONG` - for period the maximum length is 1 year
          x-errors:
            - code: PERIOD_MISALIGNED
              description: period start and end dates must come after each other
            - code: PERIOD_TOO_LONG
              description: for period the maximum length is 1 year
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/transmission-rights/overview:
    get:
      operationId: getTransmissionRightsOverview
      description: |-
        Fetch an filterable overview of Transmission Rights

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_TRANSMISSION_RIGHTS`
          * `VIEW_ANY_TRANSMISSION_RIGHTS`
      tags:
        - transmission-right
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_TRANSMISSION_RIGHTS
        - VIEW_ANY_TRANSMISSION_RIGHTS
      parameters:
        - $ref: '#/components/parameters/DeliveryDay'
        - $ref: '#/components/parameters/ParticipantIds'
        - $ref: '#/components/parameters/Timescales'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransmissionRightsOverview'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_PARTICIPANT_ID` - specified Participant not found in the system
          x-errors:
            - code: INVALID_PARTICIPANT_ID
              description: specified Participant not found in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/users:
    get:
      operationId: getUsers
      description: |-
        Fetch a filterable, searchable list of Users of an Organisations

        Sorting using the `sortBy` query parameter is implemented with the following options:
          * `NAME`
            - _primary:_ always ACTIVE/SUSPENDED first, INVITED last
            - _secondary:_ name by ASC/DESC
          * `ROLE`
            - `ASC/DESC` - ordered alphabetically by role name
          * `LAST_LOGIN`
            - `ASC/DESC` - ordered by time
          * `STATUS`
            - _primary:_
              * `ASC` - ACTIVE, INVITED, SUSPENDED
              * `DESC` - SUSPENDED, INVITED, ACTIVE
            - _secondary:_ always by name by ASC

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_USERS`
          * `VIEW_ANY_USERS`
      tags:
        - user
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_USERS
        - VIEW_ANY_USERS
      parameters:
        - $ref: '#/components/parameters/OrganisationId'
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageOffset'
        - name: statuses
          in: query
          required: true
          description: Filter for given statuses
          schema:
            type: array
            items:
              $ref: '#/components/schemas/UserStatus'
        - name: sortBy
          in: query
          required: true
          description: Sort list by given attribute and direction
          schema:
            $ref: '#/components/schemas/OrganisationUserSortBy'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationUserBatch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/users/{id}:
    get:
      operationId: getUser
      description: |-
        Fetch a User by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_USERS`
          * `VIEW_ANY_USERS`
      tags:
        - user
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_USERS
        - VIEW_ANY_USERS
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: |-
            __Bad Request__

            *  `STATUS_MISMATCH` - only users in ACTIVE/SUSPENDED status can be queried
          x-errors:
            - code: STATUS_MISMATCH
              description: only users in ACTIVE/SUSPENDED status can be queried
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateUser
      description: |-
        Update a User by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_OWN_USERS`
          * `MANAGE_ANY_USERS`

        __Generates Audit Log Entry:__ `UPDATE_USER`
      tags:
        - user
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_OWN_USERS
        - MANAGE_ANY_USERS
      x-audit-log: UPDATE_USER
      parameters:
        - $ref: '#/components/parameters/Identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          description: |-
            __Bad Request__

            *  `AUTH_METHOD_MISMATCH` - only Users from Organisations authenticated through the Platform (not through SSO) can be updated
            *  `STATUS_MISMATCH` - only users in ACTIVE/SUSPENDED status can be updated
            *  `ROLE_MISMATCH` - only roles matching the Organisation's type can be specified (e.g ICO_ roles for ICO type Organisation)
          x-errors:
            - code: AUTH_METHOD_MISMATCH
              description: only Users from Organisations authenticated through the Platform (not through SSO) can be updated
            - code: STATUS_MISMATCH
              description: only users in ACTIVE/SUSPENDED status can be updated
            - code: ROLE_MISMATCH
              description: only roles matching the Organisation's type can be specified (e.g ICO_ roles for ICO type Organisation)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/users/invite:
    post:
      operationId: inviteUser
      description: |-
        Invite a User for a selected Organisation

        ---

        __Requires Permission:__ (at least one)
          * `INVITE_OWN_USERS`
          * `INVITE_ANY_USERS`

        __Generates Audit Log Entry:__ `INVITE_USER`
      tags:
        - user
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - INVITE_OWN_USERS
        - INVITE_ANY_USERS
      x-audit-log: INVITE_USER
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteOrganisationUserRequest'
      parameters:
        - $ref: '#/components/parameters/OrganisationId'
      responses:
        '201':
          description: __Created__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitedOrganisationUser'
        '400':
          description: |-
            __Bad Request__

            *  `AUTH_METHOD_MISMATCH` - only Users from Organisations authenticated through the Platform (not through SSO) can have their invitations resent
          x-errors:
            - code: AUTH_METHOD_MISMATCH
              description: only Users from Organisations authenticated through the Platform (not through SSO) can have their invitations resent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `ROLE_MISMATCH` - only roles matching the Organisation's type can be specified (e.g ICO_ roles for ICO type Organisation)
            *  `EMAIL_ADDRESS_NOT_UNIQUE` - email addresses should be unique across **all Organisations** using the Platform
          x-errors:
            - code: ROLE_MISMATCH
              description: only roles matching the Organisation's type can be specified (e.g ICO_ roles for ICO type Organisation)
            - code: EMAIL_ADDRESS_NOT_UNIQUE
              description: email addresses should be unique across **all Organisations** using the Platform
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/users/bulk-invite:
    post:
      operationId: bulkInviteUsers
      description: |-
        Invite a batch of Users for a selected Organisation

        The input should be an Excel spreadsheet uploaded as an Attachment (using the `uploadAttachment` endpoint). The bulk user invitation is done in a transactional manner, either every specified user, or no user gets invited.

        Format restrictions:
          - row #1 should container the headers specified above
          - column A should be the `email` column (entries starting from row #2)
          - column B should be the `role` column (entries starting from row #2)
            - roles should follow the enumeration specified in `UserRole` model

        ---

        __Requires Permission:__ (at least one)
          * `INVITE_OWN_USERS`
          * `INVITE_ANY_USERS`

        __Generates Audit Log Entry:__ `BULK_INVITE_USERS`
      tags:
        - user
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - INVITE_OWN_USERS
        - INVITE_ANY_USERS
      x-audit-log: BULK_INVITE_USERS
      parameters:
        - $ref: '#/components/parameters/OrganisationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkInviteOrganisationUsersRequest'
      responses:
        '201':
          description: __Created__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkInvitedOrganisationUsers'
        '400':
          description: |-
            __Bad Request__

            *  `AUTH_METHOD_MISMATCH` - only Users from Organisations authenticated through the Platform (not through SSO) can have their invitations resent
            *  `INVALID_ATTACHMENT_ID` - the specified Attachment ID is not found in the system
          x-errors:
            - code: AUTH_METHOD_MISMATCH
              description: only Users from Organisations authenticated through the Platform (not through SSO) can have their invitations resent
            - code: INVALID_ATTACHMENT_ID
              description: the specified Attachment ID is not found in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `PROCESSING_ERROR`
                - the uploaded spreadsheet could not be processed, no users created
                - validations:
                  - every row should contain BOTH `email` and `role` column
                  - `ROLE_MISMATCH` validation should be applied for every row
                  - `EMAIL_ADDRESS_NOT_UNIQUE` validation should be applied for every row
                - failures are sent back in a formatted error message
          x-errors:
            - code: PROCESSING_ERROR
              description: |
                - the uploaded spreadsheet could not be processed, no users created
                - validations:
                  - every row should contain BOTH `email` and `role` column
                  - `ROLE_MISMATCH` validation should be applied for every row
                  - `EMAIL_ADDRESS_NOT_UNIQUE` validation should be applied for every row
                - failures are sent back in a formatted error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/users/{id}/resend-invite:
    put:
      operationId: resendUserInvite
      description: |-
        Resend invitation for a User that has not yet accepted it

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_OWN_USERS`
          * `MANAGE_ANY_USERS`

        __Generates Audit Log Entry:__ `RESEND_USER_INVITE`
      tags:
        - user
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_OWN_USERS
        - MANAGE_ANY_USERS
      x-audit-log: RESEND_USER_INVITE
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          description: |-
            __Bad Request__

            *  `AUTH_METHOD_MISMATCH` - only Users from Organisations authenticated through the Platform (not through SSO) can have their invitations resent
            *  `STATUS_MISMATCH` - only users in INVITED status can have their invitations resent
          x-errors:
            - code: AUTH_METHOD_MISMATCH
              description: only Users from Organisations authenticated through the Platform (not through SSO) can have their invitations resent
            - code: STATUS_MISMATCH
              description: only users in INVITED status can have their invitations resent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/users/{id}/revoke-invite:
    put:
      operationId: revokeUserInvite
      description: |-
        Revoke invitation for a User that has not yet accepted it

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_OWN_USERS`
          * `MANAGE_ANY_USERS`

        __Generates Audit Log Entry:__ `REVOKE_USER_INVITE`
      tags:
        - user
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_OWN_USERS
        - MANAGE_ANY_USERS
      x-audit-log: REVOKE_USER_INVITE
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          description: |-
            __Bad Request__

            *  `AUTH_METHOD_MISMATCH` - only Users from Organisations authenticated through the Platform (not through SSO) can have their invitations revoked
            *  `STATUS_MISMATCH` - only users in INVITED status can have their invitations revoked
          x-errors:
            - code: AUTH_METHOD_MISMATCH
              description: only Users from Organisations authenticated through the Platform (not through SSO) can have their invitations revoked
            - code: STATUS_MISMATCH
              description: only users in INVITED status can have their invitations revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/users/{id}/suspend:
    put:
      operationId: suspendUser
      description: |-
        Suspend a specified User

        What happens on suspending:
          - any active sessions the User has are going to be terminated
          - subsequent login attempts are blocked
          - API Key usage gets blocked

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_OWN_USERS`
          * `MANAGE_ANY_USERS`

        __Generates Audit Log Entry:__ `SUSPEND_USER`
      tags:
        - user
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_OWN_USERS
        - MANAGE_ANY_USERS
      x-audit-log: SUSPEND_USER
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          description: |-
            __Bad Request__

            *  `AUTH_METHOD_MISMATCH` - only Users from Organisations authenticated through the Platform (not through SSO) can be suspended
            *  `STATUS_MISMATCH` - only users in ACTIVE status can be suspended
          x-errors:
            - code: AUTH_METHOD_MISMATCH
              description: only Users from Organisations authenticated through the Platform (not through SSO) can be suspended
            - code: STATUS_MISMATCH
              description: only users in ACTIVE status can be suspended
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/users/{id}/unsuspend:
    put:
      operationId: unsuspendUser
      description: |-
        Unsuspends a specified User

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_OWN_USERS`
          * `MANAGE_ANY_USERS`

        __Generates Audit Log Entry:__ `UNSUSPEND_USER`
      tags:
        - user
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_OWN_USERS
        - MANAGE_ANY_USERS
      x-audit-log: UNSUSPEND_USER
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          description: |-
            __Bad Request__

            *  `AUTH_METHOD_MISMATCH` - only Users from Organisations authenticated through the Platform (not through SSO) can be suspended
            *  `STATUS_MISMATCH` - only users in SUSPENDED status can be unsuspended
          x-errors:
            - code: AUTH_METHOD_MISMATCH
[...]
